/*
---------------------------------------------------------
	Main page styling
---------------------------------------------------------
*/

.hidden_menu { 
	display:none;
	color:white;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #CDCDCD;
	margin-top: -12px;
	border:1px solid #818181;
	position:absolute;
	right:0;
	top:45;
	z-index: 999;
}

a.sub-menu{
	display: block;
	padding: 8px 10px;
	text-decoration: none;
	color: #111673;
	font-size: 11px;
}

a.sub-menu:hover{
	background-color: #fff;
	color: #c00;
	font-style: italic;
}

#nav {
	font-size: 13px;
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #CDCDCD;
	border-bottom: 1px solid #818181;  
}

#nav ul {
  list-style: none;
  width: 800px;
  margin: 0 auto;
  padding: 0; 
}

#nav li {
  float: left; 
}

#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #111673;
	border-right: 1px solid #818181; 
}
   
#nav li:first-child a {
	border-left: 1px solid #818181; 
}

#nav li a:hover {
	color: #c00;
	background-color: #fff; 
}

a:hover{
	font-style: italic;
}

#button, #welcomebutton {
	cursor:pointer;
}

body, html {
	margin: 0;
	padding: 0; 
}

body {
	background-color: #EAF9FF; 
	font-family: Arial;  
}

h1 {
	font-size: 1.5em;
	padding: 1em 8px;
	color: white;
	background-color: #1B385D;
	margin: 0; 
	border-radius:5px;
}

h2 {
	font-size: 1.2em;
	padding: 1em 8px;
	color: #1B385D;
	background-color: white;
	margin: 0;
	border-radius:5px;
}

#content {
	padding: 0 50px 50px; 
} 

#wrap {
	clear: left;
	width: 800px;
	padding: 0;
	margin: 0 auto;
	background-color: #fff;
}     

.rightpos {
  right:15;
  position:absolute;
  border-left: 1px solid #818181;
}

.login {
	border-spacing: 10px;
	border: 1px solid;
	border-radius:5px;
}

input[type=submit] {
	width:50%;
	background-color:#0066FF;
	color:#fff;
	border:2px solid #4891FE;
	padding:10px;
	font-size:16px;
	cursor:pointer;
	border-radius:5px;
}

input[type=submit]:hover {
	background-color:#4891FE;
	border:2px solid #0066FF;
}

input[type="text"], input[type="password"] {
	height:23px;
}

span.error {
	color:red;
	font-style: italic;
	font-size: 12px;
}