
body.n {
	font-family: verdana,helvetica;
	color: #000000;
	background-color: #ffffff; 
	margin-left:-8px; 
	margin-top:-8px;
	font-size: 10px;
}

body.white {
	font-family: verdana,helvetica;
	color: #000000;
	background-color: #ffffff;
	font-size: 12px;
}
body {
	font-family: verdana,helvetica;
	color: #000000;
	background-color: #CEECF5;
	font-size: 12px;
}
h1 {
	font-family: verdana,helvetica;
	font-size: 24px;
	font-weight: bold;
	color: #0B0B61;
}
h2 {
	font-family: verdana,helvetica;
	font-size: 14px;
	font-weight: bold;
	color: #848484;
}
h3 {
	font-family: verdana,helvetica;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
td {
	font-family: verdana,helvetica;
	color: #000000;
	font-size: 12px;
}
a {
	font-family: verdana,helvetica;
	font-size: 12px;
}
a:link { color: #bb3902; font-weight:normal; text-decoration:underline;}
a:visited { color: #bb3902; font-weight:normal; text-decoration:underline;}
a:active { color: #bb3902; font-weight:normal; text-decoration:underline;}
a:hover { color: #bb3902; font-weight:normal; text-decoration:underline;}

.rowheader {
	font-family: verdana,helvetica;
	color: #000000;
	background-color: #ffffff;
	font-weight: plain;
	font-size: 14pt;
    width: 160px;
}

p {
	font-family: verdana,helvetica;
	color: #000000;
	font-size: 12px;
}
